<!-- <div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <div class="row">
        <div *ngFor="let tempProduct of products" class="col-md-3">
          <div class="product-box">
            <a routerLink="/products/{{tempProduct.id}}">
              <img src="{{ tempProduct.imageUrl }}" class="img-responsive" />
            </a>
            <a routerLink="/products/{{tempProduct.id}}">
              <h1>{{ tempProduct.name }}</h1>
            </a>
            <div class="price">
              {{ tempProduct.unitPrice | currency: "USD" }}
            </div>
            <button (click)="addToCart(tempProduct)" class="btn btn-primary btn-sm">Add to cart</button>
          </div>
        </div>

        <div *ngIf="products?.length == 0" class="alert alert-warning cold-md-12" role="alert">
          No products found.
        </div>
      </div>

      <div class="footer-pagination">
        <div class="row">
          <div class="col-md-6"></div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-9" style="padding-left: 30%;"></div>
              <ngb-pagination [(page)]="thePageNumber" [pageSize]="thePageSize" [collectionSize]="theTotalElements"
                (pageChange)="listProducts()" [maxSize]="5"></ngb-pagination>
            </div>
            <div class="col-md-3 mt-2" style="text-align: right;">
              <span class="mr-2">Page Size</span>

              <select (change)="updatePageSize($any($event.target).value)">
                <option selected=true value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
              </select>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div> -->

<main class="main">
  <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
    <div class="container">
      <h1 class="page-title">Products<span>Shop</span></h1>
    </div><!-- End .container -->
  </div><!-- End .page-header -->

  <div class="container mb-4">

  </div><!-- End .container -->


  <div class="page-content">
    <div class="container">
      <div class="toolbox">
        <div class="toolbox-left">
          <a  class="sidebar-toggler"><i class="icon-bars"></i>Filters</a>
        </div><!-- End .toolbox-left -->

        <div class="toolbox-center">
          <div class="toolbox-info">
            Showing <span>{{thePageSize * thePageNumber < theTotalElements ? thePageSize * thePageNumber :
                theTotalElements}} of {{theTotalElements}}</span> Products
          </div><!-- End .toolbox-info -->
        </div><!-- End .toolbox-center -->

        <div class="toolbox-right">
          <div class="toolbox-sort">
            <label for="sortby">Sort by:</label>
            <div class="select-custom">
              <select name="sortby" id="sortby" class="form-control">
                <option value="popularity" selected="selected">Most Popular</option>
                <option value="rating">Most Rated</option>
                <option value="date">Date</option>
              </select>
            </div>
          </div><!-- End .toolbox-sort -->
        </div><!-- End .toolbox-right -->
      </div><!-- End .toolbox -->

      <div class="products">
        <div class="row">
          <div *ngFor="let tempProduct of products" class="col-6 col-md-4 col-lg-4 col-xl-3">
            <div class="product">
              <figure class="product-media">
                <a routerLink="/products/{{tempProduct.id}}">
                  <img src="{{ tempProduct.imageUrl }}" alt="Product image" class="product-image">
                </a>

                <div class="product-action-vertical">
                  <a class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                </div><!-- End .product-action -->

                <div class="product-action action-icon-top">
                  <a (click)="addToCart(tempProduct)" class="btn-product btn-cart"><span>add to cart</span></a>
                  <a class="btn-product btn-quickview" title="Quick view"><span>quick
                      view</span></a>
                  <a class="btn-product btn-compare" title="Compare"><span>compare</span></a>
                </div><!-- End .product-action -->
              </figure><!-- End .product-media -->

              <div class="product-body">

                <h3 class="product-title"><a routerLink="/products/{{tempProduct.id}}">{{ tempProduct.name }}</a></h3>
                <!-- End .product-title -->
                <div class="product-price">
                  {{ tempProduct.unitPrice | currency: "USD" }}
                </div><!-- End .product-price -->
                <div class="ratings-container">
                  <div class="ratings">
                    <div class="ratings-val" style="width: 80%;"></div><!-- End .ratings-val -->
                  </div><!-- End .ratings -->
                  <span class="ratings-text">( 11 Reviews )</span>
                </div><!-- End .rating-container -->
              </div><!-- End .product-body -->
            </div><!-- End .product -->
          </div><!-- End .col-sm-6 col-lg-4 col-xl-3 -->

          <h1 *ngIf="products?.length == 0" class="page-title">No products found.</h1>

        </div><!-- End .row -->
        <div class="footer-pagination">
          <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-6" style="padding-left: 30%;"></div>
                <ngb-pagination [(page)]="thePageNumber" [pageSize]="thePageSize" [collectionSize]="theTotalElements"
                  (pageChange)="listProducts()" [maxSize]="5">
                  <ng-template class="page-link page-link-prev" ngbPaginationPrevious><span aria-hidden="true"><i
                        class="icon-long-arrow-left"></i></span>Prev</ng-template>
                  <ng-template class="page-link page-link-next" ngbPaginationNext>Next<span aria-hidden="true"><i
                        class="icon-long-arrow-right"></i></span></ng-template>

                </ngb-pagination>
              </div>
              <div class="col-md-3 mt-2" style="text-align: right;">
                <span class="mr-2">Page Size</span>

                <select (change)="updatePageSize($any($event.target).value)">
                  <option selected=true value="5">5</option>
                  <option value="10">10</option>
                  <option value="15">15</option>
                  <option value="20">20</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div><!-- End .products -->
    </div><!-- End .container -->
  </div><!-- End .page-content -->
</main><!-- End .main -->