

    <main class="main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="banner banner-big banner-overlay">
                        <a>
                            <img src="assets/images/demos/demo-7/banners/banner-1.jpg" alt="Banner">
                        </a>

                        <div class="banner-content banner-content-center">
                            <h3 class="banner-subtitle text-white"><a>New Collection</a></h3><!-- End .banner-subtitle -->
                            <h2 class="banner-title text-white"><a>Shop Women's</a></h2><!-- End .banner-title -->
                            <a class="btn underline"><span>Discover Now</span></a>
                        </div><!-- End .banner-content -->
                    </div><!-- End .banner -->
                </div><!-- End .col-lg-6 -->

                <div class="col-lg-6">
                    <div class="banner banner-big banner-overlay">
                        <a >
                            <img src="assets/images/demos/demo-7/banners/banner-2.jpg" alt="Banner">
                        </a>

                        <div class="banner-content banner-content-center">
                            <h3 class="banner-subtitle text-white"><a >New Collection</a></h3><!-- End .banner-subtitle -->
                            <h2 class="banner-title text-white"><a >Shop Men's</a></h2><!-- End .banner-title -->
                            <a  class="btn underline"><span>Discover Now</span></a>
                        </div><!-- End .banner-content -->
                    </div><!-- End .banner -->
                </div><!-- End .col-lg-6 -->
            </div><!-- End .row -->

            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4">
                    <div class="banner banner-overlay text-white">
                        <a >
                            <img src="assets/images/demos/demo-7/banners/banner-3.jpg" alt="Banner">
                        </a>

                        <div class="banner-content banner-content-right">
                            <h4 class="banner-subtitle"><a >Flip Flop</a></h4><!-- End .banner-subtitle -->
                            <h3 class="banner-title"><a >Summer<br>sale -70% off</a></h3><!-- End .banner-title -->
                            <a  class="btn underline btn-outline-white-3 banner-link">Shop Now</a>
                        </div><!-- End .banner-content -->
                    </div><!-- End .banner -->
                </div><!-- End .col-lg-4 -->

                <div class="col-md-6 col-lg-4">
                    <div class="banner banner-overlay color-grey">
                        <a >
                            <img src="assets/images/demos/demo-7/banners/banner-4.jpg" alt="Banner">
                        </a>

                        <div class="banner-content">
                            <h4 class="banner-subtitle"><a >Accessories</a></h4><!-- End .banner-subtitle -->
                            <h3 class="banner-title"><a >2019 Winter<br>up to 50% off</a></h3><!-- End .banner-title -->
                            <a  class="btn underline banner-link">Shop Now</a>
                        </div><!-- End .banner-content -->
                    </div><!-- End .banner -->
                </div><!-- End .col-lg-4 -->

                <div class="col-md-6 col-lg-4">
                    <div class="banner banner-overlay text-white">
                        <a>
                            <img src="assets/images/demos/demo-7/banners/banner-5.jpg" alt="Banner">
                        </a>

                        <div class="banner-content banner-content-right mr">
                            <h4 class="banner-subtitle"><a>New in</a></h4><!-- End .banner-subtitle -->
                            <h3 class="banner-title"><a>Women’s<br>sportswear</a></h3><!-- End .banner-title -->
                            <a class="btn underline btn-outline-white-3 banner-link">Shop Now</a>
                        </div><!-- End .banner-content -->
                    </div><!-- End .banner -->
                </div><!-- End .col-lg-4 -->
            </div><!-- End .row -->
        </div><!-- End .container-fluid -->

        <div class="icon-boxes-container bg-transparent">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-12 icon-boxes">
                        <div class="col-sm-6 col-lg-4">
                            <div class="icon-box icon-box-side">
                                <span class="icon-box-icon">
                                    <i class="icon-truck"></i>
                                </span>

                                <div class="icon-box-content">
                                    <h3 class="icon-box-title">Payment & Delivery</h3><!-- End .icon-box-title -->
                                    <p>Free shipping for orders over $50</p>
                                </div><!-- End .icon-box-content -->
                            </div><!-- End .icon-box -->
                        </div><!-- End .col-sm-6 col-lg-4 -->
                        
                        <div class="col-sm-6 col-lg-4">
                            <div class="icon-box icon-box-side">
                                <span class="icon-box-icon">
                                    <i class="icon-rotate-left"></i>
                                </span>

                                <div class="icon-box-content">
                                    <h3 class="icon-box-title">Return & Refund</h3><!-- End .icon-box-title -->
                                    <p>Free 100% money back guarantee</p>
                                </div><!-- End .icon-box-content -->
                            </div><!-- End .icon-box -->
                        </div><!-- End .col-sm-6 col-lg-4 -->

                        <div class="col-sm-6 col-lg-4">
                            <div class="icon-box icon-box-side">
                                <span class="icon-box-icon">
                                    <i class="icon-headphones"></i>
                                </span>

                                <div class="icon-box-content">
                                    <h3 class="icon-box-title">Quality Support</h3><!-- End .icon-box-title -->
                                    <p>Alway online feedback 24/7</p>
                                </div><!-- End .icon-box-content -->
                            </div><!-- End .icon-box -->
                        </div><!-- End .col-sm-6 col-lg-4 -->
                    </div>
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .icon-boxes-container -->

        

        <div class="mb-6"></div><!-- End .mb-6 -->

        <div class="container-fluid">
            <div class="heading heading-center mb-3">
                <h2 class="title">NEW ARRIVALS</h2><!-- End .title -->
            </div><!-- End .heading -->

            <div class="tab-content">
                <div class="tab-pane p-0 fade show active" id="new-women-tab" role="tabpanel" aria-labelledby="new-women-link">
                    <div class="products">
                        <div class="row justify-content-center">
                            
                            <div *ngFor="let tempProduct of products" class="col-6 col-md-4 col-lg-3 col-xl-5col" >
                                <div class="product product-7 text-center">
                                    <figure class="product-media">
                                        <a routerLink="/products/{{tempProduct.id}}">
                                            <img src="{{ tempProduct.imageUrl }}" alt="Product image" class="product-image">
                                            <img src="{{ tempProduct.imageUrl }}" alt="Product image" class="product-image-hover">
                                        </a>

                                        <div class="product-action-vertical">
                                            <a  class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                            <a  class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
                                        </div><!-- End .product-action-vertical -->

                                        <div class="product-action">
                                            <a (click)="addToCart(tempProduct)" class="btn-product btn-cart"><span>add to cart</span></a>
                                        </div><!-- End .product-action -->
                                    </figure><!-- End .product-media -->

                                    <div class="product-body">
                                        <h3 class="product-title"><a routerLink="/products/{{tempProduct.id}}">{{ tempProduct.name }}</a></h3><!-- End .product-title -->
                                        <div class="product-price">
                                            {{ tempProduct.unitPrice | currency: "USD" }}
                                        </div><!-- End .product-price -->
                                        <div class="ratings-container">
                                            <div class="ratings">
                                                <div class="ratings-val" style="width: 20%;"></div><!-- End .ratings-val -->
                                            </div><!-- End .ratings -->
                                            <span class="ratings-text">( 2 Reviews )</span>
                                        </div><!-- End .rating-container -->
                                    </div><!-- End .product-body -->
                                </div><!-- End .product -->
                            </div><!-- End .col-sm-6 col-md-4 col-lg-3 -->
                            
                            
                        </div><!-- End .row -->
                    </div><!-- End .products -->
                </div><!-- .End .tab-pane -->
                
            </div><!-- End .tab-content -->

            <div class="more-container text-center mt-2">
                <a routerLink="/products" class="btn btn-outline-dark-3 btn-more"><span>Load more</span><i class="icon-long-arrow-right"></i></a>
            </div><!-- End .more-container -->

        </div><!-- End .container-fluid -->

    </main><!-- End .main -->

    
<button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>


