<!-- <div class="form-header">
  <input
    #myInput
    class="au-input au-input-xl"
    type="text"
    placeholder="Search for data ..."
    (keyup.enter)="doSearch(myInput.value)"
  />
  <button (click)="doSearch(myInput.value)" class="au-btn-submit">
    Search
  </button>
</div> -->

<div class="header-search header-search-extended header-search-visible">
  <a  class="search-toggle" role="button"><i class="icon-search"></i></a>
  <div >
      <div class="header-search-wrapper search-wrapper-wide">
          <input #myInput type="search" class="form-control" (keyup.enter)="doSearch(myInput.value)" placeholder="Search product ..." required>
          <button (click)="doSearch(myInput.value)" class="btn btn-primary"><i class="icon-search"></i></button>
      </div><!-- End .header-search-wrapper -->
  </div>
</div><!-- End .header-search -->